<!DOCTYPE html>
<html>
    <head>
        <title>Entertainment Recommender System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/main.css">
    </head>
    <body>
	<style>
		body{
			background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/858715/38ab8700ce1051a9b2311504d06f8289.jpg");
		}
		.btn a{
			color:#FFFFFF;
		}
		.jumbotron{
			margin-top:250px;
			background: rgba(0, 0, 0, 0.9);
		}
		.jumbotron p,a{
			color:#FFFFFF;
		}
		.jumbotron h1{
		    color:red;
		    align:center;
		}
	</style>

	<div class="container">
  		<div class="jumbotron">
    		<center><h1>Entertainment Recommender</h1></center>
    		<center><p>Just Type in your favorite movies or songs and we will present you with our recommendations</p><center> 
    		<button class="btn btn-lg btn-primary"><a href = "/register">Sign Up</a></button>
    		<button class="btn btn-lg btn-success"><a href = "/login"> Log In </a></button>
  		</div> 
	</div>
	</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

